{% extends "base.html" %}

{% block title %}Predict | View Proposals{% endblock %}

{% block body %}
    {% load staticfiles %}

    {% for project in projects %}
        <div class="well" style="background: white; border-width: 3px;">
            {% comment TODO: implement on-click hidden div expansion jquery slide down transition / slide toggle %} {% endcomment %}
            <div class="row">
                <div class="col-md-6"><h2>{{ project.organization }}</h2></div>
                <div class="col-md-2 col-md-offset-4"><h3>{{ project.str_amount }}</h3></div>
            </div>
            <div class="row">
                <div class="col-md-3"><h3>Challenge</h3>{{ project.challenge }}</div>
                <div class="col-md-3"><h3>Proposal</h3>{{ project.proposal }}</div>
                <div class="col-md-2"><img style="width: 100%; height: auto;" src="{% static project.logo_url %}"/></div>
                <div class="col-md-3  col-md-offset-1">
                    <strong>Multiplier:</strong><h4 id="project-multiplier-{{ project.pk }}">x{{ project.multiplier }}</h4>
                    {% comment TODO: the button should look differently if I'm already supporting the project or not %} {% endcomment %}
                    <button type="button" class="btn btn-success js-support-button" id="support-button-{{ project.pk }}" style="margin: 5px;" data-project="{{ project.pk }}">Support project</button>
                    <button type="button" class="btn btn-info" style="margin: 5px;" onclick="$('#info-{{ project.pk }}').slideToggle(500);">Additional information</button>
                </div>
            </div>
            {% comment TODO: implement action (support / withdraw support) here %} {% endcomment %}
            <div id="info-{{ project.pk }}" style="display: none;">
                <div class="row">
                    <div class="col-md-3"><h3>Output:</h3>{{ project.output }}<h4>Indicators:</h4>{{ project.output_indicators }}</div>
                    <div class="col-md-3"><h3>Outcomes:</h3>{{ project.outcomes }}<h4>Indicators:</h4>{{ project.outcomes_indicators }}</div>
                    <div class="col-md-3"><h3>Impact:</h3>{{ project.impact }}<h4>Indicators:</h4>{{ project.impact_indicators }}</div>
                    <div class="col-md-3"><img style="width: 100%; height: auto; margin: 5px" src="{% static project.picture_url %}"/><h3>Website:</h3>
                        <a style="overflow-wrap: break-word;" href="{{ project.link }}">{{ project.link }}</a></div>
                </div>
            </div>
        </div>


    {% endfor %}

{% endblock %}

{% block javascript %}
    <script>

        var updateButton = function(button) {
            var project = button.getAttribute('data-project');
            var updated = false;

            $.ajax('/predict/user_is_supporting/{{ user.pk }}/' + project, {
                success: function(data, textStatus, jqXHR) {
                    if (data.supporting) {
                        $(button).removeClass('btn-success').removeClass('btn-warning').addClass('btn-danger')
                                .text('Stop supporting project').removeAttr('disabled');
                        updated = true;
                    } else {
                        $(button).removeClass('btn-danger').removeClass('btn-warning').addClass('btn-success')
                                .text('Support').removeAttr('disabled');
                    }
                },
            });

            if (updated) {
                return;
            }

            $.ajax('/predict/user_can_support/{{ user.pk }}/' + project, {
                success: function(data, textStatus, jqXHR) {
                    if (!data.can_support) {
                        $(button).removeClass('btn-success').removeClass('btn-danger').addClass('btn-warning')
                                .text('Insufficient budget').attr('disabled', 'disabled');
                        updated = true;
                    };
                },
            });

            if (updated) {
                return;
            }

        };

        var updateAllButtons = function() {
            _.each($('.js-support-button'), updateButton);
        }

        $(document).ready(function () {
            $('.nav li').removeClass('active');
            $('#proposals-link').addClass('active');
            $('#budget').addClass('active');
            updateAllButtons();
        });

        $('.js-support-button').click(function (e) {
            var project = e.target.getAttribute('data-project');
            $.ajax('/predict/support/{{ user.pk }}/' + project, {
                            success: function(data, textStatus, jqXHR) {
                                $('#project-multiplier-' + project).text('x' + data.multiplier);

                                $.ajax('/predict/get_remaining_budget/{{ user.pk }}', {
                                    success: function(data, textStatus, jqXHR) {
                                        $('#budget-text').text(data.budget);
                                    }
                                });

                                updateAllButtons();

                            },
                            error: function(data, textStatus, jqXHR) {
                                console.log('Error');
                                console.log(data);
                                console.log(textStatus);
                                console.log(jqXHR);
                            },
            });
        });

    </script>
{% endblock %}

<!--
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th style="display: none;">id</th>
                <th>Organization</th>
                <th>Challenge</th>
                <th>Proposal</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                {% comment TODO: implement on-click pop-up? %} {% endcomment %}
                <th scope="col" style="display: none;">table.pk</th>
                <td>{{ project.organization }}</td>
                <td>{{ project.challenge }}</td>
                <td>{{ project.proposal }}</td>
                <td>{{ project.str_amount }}</td>
                <td>{% comment TODO: implement action (support / withdraw support) here %} {% endcomment %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    -->