{% extends "base.html" %}

{% block title %}Predict | View Proposals{% endblock %}

{% block body %}
    {% load staticfiles %}
    {% for project in projects %}

        <div class="well" style="background: white; border-width: 3px;">
            {% comment TODO: implement on-click hidden div expansion jquery slide down transition / slide toggle %} {% endcomment %}
            <div class="row">
                <div class="col-md-6"><h2>{{ project.organization }}</h2></div>
                <div class="col-md-2 col-md-offset-4"><h3>{{ project.str_amount }}</h3></div>
            </div>
            <div class="row">
                <div class="col-md-3"><h3>Challenge</h3>{{ project.challenge }}</div>
                <div class="col-md-3"><h3>Proposal</h3>{{ project.proposal }}</div>
                <div class="col-md-2 col-md-offset-1"><img style="width: 100%; height: auto;" src="{% static project.logo_url %}"/></div>
                <div class="col-md-3">
                    <strong>Multiplier:</strong><h4>x{{ project.multiplier }}</h4>
                    <button type="button" class="btn btn-success" style="margin: 5px;">Support this project</button>
                    <button type="button" class="btn btn-info" style="margin: 5px;" onclick="$('#info-{{ project.pk }}').slideToggle(500)">Additional information</button>
                </div>
            </div>
            {% comment TODO: implement action (support / withdraw support) here %} {% endcomment %}
            <div id="info-{{ project.pk }}" style="display: none;">
                <div class="row">
                    <div class="col-md-3"><h3>Output:</h3>{{ project.output }}<h4>Indicators:</h4>{{ project.output_indicators }}</div>
                    <div class="col-md-3"><h3>Outcomes:</h3>{{ project.outcomes }}<h4>Indicators:</h4>{{ project.outcomes_indicators }}</div>
                    <div class="col-md-3"><h3>Impact:</h3>{{ project.impact }}<h4>Indicators:</h4>{{ project.impact_indicators }}</div>
                    <div class="col-md-3"><img style="width: 100%; height: auto; margin: 5px" src="{% static project.picture_url %}"/><h3>Website:</h3>
                        <a style="overflow-wrap: break-word;" href="{{ project.link }}">{{ project.link }}</a></div>
                </div>
            </div>
        </div>


    {% endfor %}

    <!--
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th style="display: none;">id</th>
                <th>Organization</th>
                <th>Challenge</th>
                <th>Proposal</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                {% comment TODO: implement on-click pop-up? %} {% endcomment %}
                <th scope="col" style="display: none;">table.pk</th>
                <td>{{ project.organization }}</td>
                <td>{{ project.challenge }}</td>
                <td>{{ project.proposal }}</td>
                <td>{{ project.str_amount }}</td>
                <td>{% comment TODO: implement action (support / withdraw support) here %} {% endcomment %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.nav li').removeClass('active');
            $('#proposals-link').addClass('active');
        });
    </script>
{% endblock %}